* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav {
  background-color: rgb(6, 7, 7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}
a {
  text-decoration: none;
}
nav h3 {
  color: #fff;
}
.links {
  display: flex;
  list-style: none;
}
.link-item {
  margin: 10px;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
}
